@import './base/common';
@import './utils/colors';
@import './components/header';

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('/assets/muscular-sportsman-building-biceps-with-dumbbell-1.png');
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}