            .mark {
                width: 43%;
                height: calc((100vw * 0.35)/18);
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background: no-repeat center;
                background-size: contain;
                background-image: url('../../assets/mark.png');
                h4 {
                    color: #FFF;
                    text-align: center;
                    font-family: Open Sans;
                    font-size: calc((100vw * 0.14)/15);
                    font-style: normal;
                    font-weight: 600;
                }
            }
            .title {
                width: 100%;
                h2 {
                    color: #484848;
                    font-family: 'Audiowide', sans-serif;
                    font-size: calc(((100vw * 0.24)/7) + 10px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: calc(((100vw * 0.30)/10) + 15px);
                }
            }
            .text {
                width: 90%;
                color: #9E9E9E;
                font-size: calc((100vw * 0.24)/15.5);
                font-style: normal;
                font-weight: 400;
                line-height: calc((100vw * 0.30)/15);
            }


            @media screen and (max-width: 640px) {
                .mark {
                    width: 43%;
                    height: calc((100vw * 0.35)/10);
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: no-repeat center;
                    background-size: contain;
                    background-image: url('../../assets/mark.png');
                    h4 {
                        color: #FFF;
                        text-align: center;
                        font-family: Open Sans;
                        font-size: calc((100vw * 0.14)/7);
                        font-style: normal;
                        font-weight: 600;
                    }
                }
                .title {
                    width: 100%;
                    h2 {
                        color: #484848;
                        font-family: 'Audiowide', sans-serif;
                        font-size: calc(((100vw * 0.24)/5) + 10px);
                        font-style: normal;
                        font-weight: 400;
                        line-height: calc(((100vw * 0.30)/10) + 15px);
                    }
                }
                .text {
                    width: 100%;
                    color: #9E9E9E;
                    font-size: calc((100vw * 0.24)/9);
                    font-style: normal;
                    font-weight: 400;
                    line-height: calc((100vw * 0.30)/10);
                }
            }