<section class="aside">
	<div class="container">
		<div class="all-content">
			<div class="img-content">
				<img src="/assets/Group 13.png" alt="">
			</div>
			<div class="text-content">
				<div class="mark">
					<h4>ABOUT GYMAT</h4>
				</div>
				<div class="wrapper-text">
					<div class="heading">
						<h2>We Can Give A Shape Of Your Body Here!</h2>
					</div>
					<div class="text">
						<p>Gym an unknown printer took a gallery of type and scrambled.It has survived unknown
							printercenturies.</p>
					</div>
				</div>
				<div class="cards">
					<div class="card">
						<div class="card-img">
							<img src="/assets/group-9.svg" alt="">
						</div>
						<div class="card-body" id="first-child">
							<div class="card-title">
								<h5>Modern Equipment</h5>
							</div>
							<div class="card-text">
								<h6>Gymat an unknown printer took a gallery of type an
									scraey.</h6>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-img">
							<img src="/assets/group-7.svg" alt="">
						</div>
						<div class="card-body" id="first-child">
							<div class="card-title">
								<h5>Body Fitness</h5>
							</div>
							<div class="card-text">
								<h6>Gymat an unknown printer took a gallery of type an
									scraey.</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>