<section class="classes">
    <div class="container"> 
        <div class="content">
            <div class="mark">
                <h4>UPCOMMING CLASS</h4>
            </div>
            <div class="title">
                <h2>Why Choose Us to Join Our Classes</h2>
            </div>
            <div class="text">
                <p>
                    Gym an unknown printer took a gallery of type and scrambled.
                    It has survived unknown printercenturies.
                </p>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="card-img">
                        <img src="../assets/equipment.png" alt="">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h5>Modern Equipment</h5>
                        </div>
                        <div class="card-text">
                            <h6>Gymat an unknown printer took a gallery of type an scraey.</h6>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="../assets/weight-counter.png" alt="">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h5>Weight Balance</h5>
                        </div>
                        <div class="card-text">
                            <h6>Gymat an unknown printer took a gallery of type an scraey.</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statistic">
                <div class="statistic-card">
                    <div class="numeric">
                        <h3>10+</h3>
                    </div>
                    <div class="people">
                        <h6>Expert Trainer</h6>
                    </div>
                </div>
                <div class="statistic-card">
                    <div class="numeric">
                        <h3>500+</h3>
                    </div>
                    <div class="people">
                        <h6>Trained Students</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="warpper-img">
            <img src="../assets/Group 25.png" alt="">
        </div>
    </div>
</section>