<section class="header">
	<div class="container">
		<div class="logo">
			<img src="/assets/logo.svg" alt="">
			<h3>Gymat</h3>
		</div>
		<div class="navigation">
			<ul class="nav">
				<li><a href="/Home">Home</a></li>
				<li><a href="/About">About</a></li>
				<li><a href="/Page">Page</a></li>
				<li><a href="/Class">Class</a></li>
				<li><a href="/Schedule">Schedule</a></li>
				<li><a href="/Blog">Blog</a></li>
				<li><a href="/Shop">Shop</a></li>
				<li><a href="/Contact">Contact</a></li>
			</ul>
		</div>
		<div class="content">
			<div class="search">
				<button><img src="/assets/group.svg" alt=""></button>
			</div>
			<div class="burger">

			</div>
			<div class="button">
				<img src="/assets/group-3.svg" alt="">
				<a href="/Join">JOIN CLASS</a>
			</div>
		</div>
	</div>
</section>