<section class="schedule">
    <div class="container">
        <div class="text-content">
          <div class="mark">
            <h4>TIME & TABLE</h4>
          </div>
          <div class="title">
            <h2>Weekly Class Schedule</h2>
          </div>
          <div class="text">
            <p>
                Gym an unknown printer took a gallery of type and scrambled. It has survived unknown printercenturies.
            </p>
          </div>
        </div>
        <div class="wrapper-schedule">
            <table border="1">
                <thead>
                  <tr>
                    <th class="left-bar"></th>
                    <th>MON</th>
                    <th>TUE</th>
                    <th>WED</th>
                    <th>THUR</th>
                    <th>FRI</th>
                    <th>SAT</th>
                    <th>SUN</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="left-bar">9:00am</td>
                    <td>
                      <div class="time">
                        <h6>9:00am - 10:00am</h6>
                      </div>
                      <div class="sport">
                        <h5 id="fitness">FITNESS</h5>
                      </div>
                    </td>
                    <td>
                      <div class="time">
                        <h6>9:00am - 10:00am</h6>
                      </div>
                      <div class="sport">
                        <h5 id="boxing">BOXING</h5>
                      </div>
                    </td>
                    <td>
                      <div class="time">
                        <h6>9:00am - 10:00am</h6>
                      </div>
                      <div class="sport">
                        <h5 id="cycling">CYCLING</h5>
                      </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="left-bar">10:00am</td>
                    <td>
                      <div class="time">
                        <h6>10:00am - 11:00am</h6>
                      </div>
                      <div class="sport">
                        <h5 id="body-building">BODY BUILDING</h5>
                      </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="time">
                        <h6>10:00am - 11:00am</h6>
                      </div>
                      <div class="sport">
                        <h5 id="karate">KARATE</h5>
                      </div>
                    </td>
                    <td></td>
                    <td>
                      <div class="time">
                        <h6>10:00am - 11:00am</h6>
                      </div>
                      <div class="sport">
                        <h5 id="body-building">BODY BUILDING</h5>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="left-bar">11:00am</td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="time">
                        <h6>10:00am - 11:00am</h6>
                      </div>
                      <div class="sport">
                        <h5 id="body-building">BODY BUILDING</h5>
                      </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="left-bar">1:00pm</td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="time">
                        <h6>1:00pm - 2:00pm</h6>
                      </div>
                      <div class="sport">
                        <h5 id="fitness">FITNESS</h5>
                      </div>
                    </td>
                    <td>
                      <div class="time">
                        <h6>1:00pm - 2:00pm</h6>
                      </div>
                      <div class="sport">
                        <h5 id="boxing">BOXING</h5>
                      </div>
                    </td>
                    <td>
                      <div class="time">
                        <h6>1:00pm - 2:00pm</h6>
                      </div>
                      <div class="sport">
                        <h5 id="meditation">MEDITATION</h5>
                      </div>
                    </td>
                    <td>
                      <div class="time">
                        <h6>1:00pm - 2:00pm</h6>
                      </div>
                      <div class="sport">
                        <h5 id="boxing">BOXING</h5>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="left-bar">4:00pm</td>
                    <td>
                      <div class="time">
                        <h6>4:00pm - 5:00pm</h6>
                      </div>
                      <div class="sport">
                        <h5 id="running">RUNNING</h5>
                      </div>
                    </td>
                    <td></td>
                    <td>
                      <div class="time">
                        <h6>4:00pm - 5:00pm</h6>
                      </div>
                      <div class="sport">
                        <h5 id="running">RUNNING</h5>
                      </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="time">
                        <h6>4:00pm - 5:00pm</h6>
                      </div>
                      <div class="sport">
                        <h5 id="running">RUNNING</h5>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="left-bar">6:00pm</td>
                    <td>
                      <div class="time">
                        <h6>6:00pm - 7:00pm</h6>
                      </div>
                      <div class="sport">
                        <h5 id="fitness">FITNESS</h5>
                      </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</section>