<section class="shop">
    <div class="container intersect intersect-reverse">
        <div class="text-content">
            <div class="mark">
              <h4>SHOP ONLINE</h4>
            </div>
            <div class="title">
              <h2>Our Online Gym Store</h2>
            </div>
            <div class="text">
              <p>
                  Gym an unknown printer took a gallery of type and scrambled. It has survived unknown printercenturies.
              </p>
            </div>
        </div>
        <div class="content">
            <div class="card">
                <div class="card-img">
                    <div class="wrapper-flag">
                        <img class="flag" src="../assets/flag.png" alt="">
                        <h6>20% OFF</h6>
                    </div>
                    <img class="goods-img" src="../assets/dumbbells-fitness-vector-image-transparent-removebg-preview 1.png" alt="">
                    <h5>Working Dumble</h5>
                </div>
                <div class="card-body">
                    <div class="card-info">
                        <h4 class="price">$80</h4>
                        <div class="wrapper-stars">
                            <img src="../assets/full-star.png" alt="">
                            <img src="../assets/full-star.png" alt="">
                            <img src="../assets/full-star.png" alt="">
                            <img src="../assets/full-star.png" alt="">
                            <img src="../assets/star.png" alt="">
                        </div>
                    </div>
                    <div class="card-button">
                        <button class="shop-btn">
                            <img src="../assets/basket.png" alt="">
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <div class="wrapper-flag">
                        <img class="flag" src="../assets/flag.png" alt="">
                        <h6>NEW</h6>
                    </div>
                    <img class="goods-img" src="../assets/gym-ball.png" alt="">
                    <h5>Gym Equipment</h5>
                </div>
                <div class="card-body">
                    <div class="card-info">
                        <h4 class="price">$60</h4>
                        <div class="wrapper-stars">
                            <img src="../assets/full-star.png" alt="">
                            <img src="../assets/full-star.png" alt="">
                            <img src="../assets/full-star.png" alt="">
                            <img src="../assets/full-star.png" alt="">
                            <img src="../assets/star.png" alt="">
                        </div>
                    </div>
                    <div class="card-button">
                        <button class="shop-btn">
                            <img src="../assets/basket.png" alt="">
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <div class="wrapper-flag">
                        <img class="flag" src="../assets/flag.png" alt="">
                        <h6>5% OFF</h6>
                    </div>
                    <img class="goods-img" src="../assets/nike-shoes.png" alt="">
                    <h5>Gym Nike Sneaker</h5>
                </div>
                <div class="card-body">
                    <div class="card-info">
                        <h4 class="price">$70</h4>
                        <div class="wrapper-stars">
                            <img src="../assets/full-star.png" alt="">
                            <img src="../assets/full-star.png" alt="">
                            <img src="../assets/full-star.png" alt="">
                            <img src="../assets/full-star.png" alt="">
                            <img src="../assets/star.png" alt="">
                        </div>
                    </div>
                    <div class="card-button">
                        <button class="shop-btn">
                            <img src="../assets/basket.png" alt="">
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>