<section class="testimonials intersect">
    <div class="container">
        <div class="text-content">
            <div class="mark">
                <h4>TESTIMONIALS</h4>
            </div>
            <div class="title">
                <h2>
                    Some Reviews From Our Trusted Clients
                </h2>
            </div>
            <div class="text">
                <p>
                    Gym an unknown printer took a gallery of type and scrambled. It has survived unknown printercenturies.
                </p>
            </div>
        </div>
        <div class="slider">
            <div class="slides">

            </div>
        </div>
    </div>
</section>