.header {
	.conteiner {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 66px;
		margin-top: 2%;

		.logo {
			display: flex;

			h3 {
				color: #FFF;
				font-family: Marcellus SC;
				font-size: 26px;
				font-weight: 400;
				line-height: 50px;
				margin-left: 5px;
				cursor: pointer;
				transition: 0.4s;
			}

			h3:hover {
				color: #AE0F0F;
				transition: 0.4s;
			}
		}

		.navigation {
			width: 52%;

			.nav {
				list-style-type: none;
				display: flex;
				flex-direction: row;
				gap: 7%;

				li {

					a {
						text-decoration: none;
						color: #FFF;
						font-family: Open Sans;
						font-size: 16px;
						font-weight: 400;
						background-image: linear-gradient(#AE0F0F, #AE0F0F);
						background-position: 0% 100%;
						background-repeat: no-repeat;
						background-size: 0% 2px;
						transition: background-size .3s;

						&:hover,
						&:focus {
							background-size: 100% 3px;


						}

					}

				}
			}
		}

		.content {
			display: flex;
			align-items: center;
			gap: 35px;

			.search {

				button {
					background: none;
					border: none;
					cursor: pointer;
				}

			}

			.burger {
				display: none;
				opacity: 0;
			}

			.button {
				background: #D9D9D9;
				width: 125px;
				height: 39px;
				padding-top: 5px;

				a {
					display: flex;
					align-items: center;
					justify-content: space-evenly;
					text-decoration: none;
					color: #AE0F0F;
					font-size: 14px;
					font-family: Open Sans;
					font-weight: 600;
				}
			}

			.button:hover {
				background: #1d1d1d;
				color: #ff0000;
				transition: 0.4s;
			}
		}
	}
}