.header {
	.container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 2%;

		.logo {
			display: flex;

			h3 {
				color: #FFF;
				font-family: Marcellus SC;
				font-size: 26px;
				font-weight: 400;
				line-height: 50px;
				margin-left: 5px;
				cursor: pointer;
				transition: 0.4s;
			}

			h3:hover {
				color: #AE0F0F;
				transition: 0.4s;
			}
		}

		.navigation {
			width: 52%;

			.nav {
				list-style-type: none;
				display: flex;
				flex-direction: row;
				gap: 7%;

				li {

					a {
						text-decoration: none;
						color: #FFF;
						font-family: Open Sans;
						font-size: 16px;
						font-weight: 400;
						background-image: linear-gradient(#AE0F0F, #AE0F0F);
						background-position: 0% 100%;
						background-repeat: no-repeat;
						background-size: 0% 2px;
						transition: background-size .3s;

						&:hover,
						&:focus {
							background-size: 100% 2px;


						}

					}

				}
			}
		}

		.content {
			display: flex;
			align-items: center;
			gap: 35px;

			.search {

				button {
					background: none;
					border: none;
					cursor: pointer;
				}

			}

			.burger {
				display: none;
				opacity: 0;
				width: 35px;
			}

			.button {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				background: #D9D9D9;
				width: 125px;
				height: 39px;

				a {
					text-decoration: none;
					color: #AE0F0F;
					font-size: 14px;
					font-family: Open Sans;
					font-weight: 600;
				}
			}

			.button:hover {
				background: #1d1d1d;
				color: #ff0000;
				transition: 0.4s;
			}
		}
	}
}

//-----------------------------------------------------//

@media screen and (max-width: 1200px) {
	.header {
		.container {

			.logo {
				width: calc((100vw * 0.52));

				img {
					width: 28px;
				}

				h3 {
					font-size: 20px;
				}
			}

			.navigation {
				display: none;
				opacity: 0;
				background: black;
				top: 100px;
				position: absolute;
				display: flex;
				transform: translateX(-100%);

				.nav {
					li {}
				}
			}

			.content {
				gap: 0;

				.search {
					button {
						img {
							width: 24px;
						}
					}
				}

				.burger {
					display: block;
					opacity: 1;
				}

				.button {
					width: 106px;
					height: 35px;

					a {
						font-size: 11px;
					}

					img {
						width: 30px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.header {
		.container {

			.logo {


				img {}

				h3 {}

			}

			.navigation {


				.nav {
					li {}
				}
			}

			.content {

				.search {
					button {
						img {
							width: 20px;
						}
					}
				}

				.burger {
					img {
						width: 29px;
					}
				}

				.button {
					width: 90px;
					height: 30px;


					a {
						font-size: 9px;
					}

					img {
						width: 25px;
					}
				}
			}

		}
	}
}